spring:
  application:
    name: gestao-api
  jackson:
    property-naming-strategy: SNAKE_CASE

  datasource:
    username: sa
    password: password
    url: jdbc:h2:mem:gestao-db;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console